body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(211, 76%, 53%);
}
#app{
    border-radius: 15px;
   background-color: #2468B1;
   overflow: hidden;
   max-width: 500px;
}

#numbers{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #1f589649;
    color: #FCCF00;
}

#buttons{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
   padding: 1.2rem;
   justify-content: center;
}
button{
   width: 100px;
   height: 100px;
   border-radius: 40px; 
   border: none;
   background-color: #fcce00f5;
   color: #2468b1e8 ;
   font-size: 3rem;
   font-weight: bold;
   cursor: pointer;
}
button:hover{
    background-color: #FCCF00;
    color: #2468B1;
}
button:active{
    background-color: #fddf5a;
}

.op{
    background-color: #ffe600ef;
}
.op:hover{
    background-color: #ffe600;   
}
.op:active{
    background-color: #fddf5a;
}